<% content_for :meta_title, "Add your spot" %>
<% content_for :meta_description, "Add your own garage/parking spot." %>

<div class="addparkingform">
  <div class="container mx-4 negative-margin", data-controller="form">
      <h2 class="text-center started">Add a parking.</h2>
      <%= simple_form_for @garage, defaults: { input_html: { class: 'rounded-pill border border-dark text-black' }, label_html: { class: 'text-uppercase' } } do |f| %>

        <div data-form-target="group1" class="text-center">
          <%= f.input :photo, as: :file, label: "Show uw your street view." %>
          <a class="btn w-50 rounded-pill next-button" data-action="click->form#forward1">Next</a>
        </div>

        <div data-form-target="group2" class="d-none text-center">
          <%= f.input :name, label: "What's the name?" %>
          <a class="btn w-50 rounded-pill next-button" data-action="click->form#forward2">Next</a>
        </div>

        <div data-form-target="group3" class="d-none text-center">
          <%= f.input :address, label: "What's your address?" %>
          <a class="btn w-50 rounded-pill next-button" data-action="click->form#forward3">Next</a>
        </div>

        <div class="d-none text-center" data-form-target="group4">
          <div class="row">
            <div class="col-6">
              <%= f.input :width_in_meters, label: "Width" %>
            </div>
            <div class="col-6">
              <%= f.input :length_in_meters, label: "Length" %>
            </div>
          </div>
          <a class="btn w-50 rounded-pill next-button" data-action="click->form#forward4">Next</a>
        </div>

        <div class="d-none" data-form-target="group5">
          <%= f.input :price_per_minute, label: "Price/min" %>
          <div class="text-center">
            <div class="form-actions">
              <%= f.button :submit, "LET'S ADD", class: "btn w-50 rounded-pill next-button" %>
            </div>
          </div>
         </div>
      <% end %>
  </div>
</div>
