<% content_for :meta_title, "Your Garage" %>
<% content_for :meta_description, "Overview of your own garage/parking/spot" %>

<h1 class = "title_name_garage"><%=@garage.name%>.</h1>
<p class="address-garage"><i class="fa-solid fa-location-dot"></i>  <%= @garage.address %></p>
  <%= cl_image_tag @garage.photo.key, class: "width-90", crop: :fill %>
  <div class="container ms-4">
    <div class="row justify-content-between informations_garage">
      <div class="col-6">
        <p><strong>Width : </strong> <%= @garage.length_in_meters %> m</p>
      </div>
      <div class="col-6">
        <p><strong>Length : </strong> <%= @garage.width_in_meters %> m</p>
      </div>
      <br>
      <div class="col-6">
        <p><strong>Surface Area : </strong> <%= @garage.length_in_meters * @garage.width_in_meters %> m<sup>2</sup></p>
      </div>
      <div class="col-6">
        <p><strong>Price : </strong><%= (@garage.price_per_minute * 60).round %> €/hour</p>
      </div>
    </div>
</div>
<div class="reservations-banner mt-4">
  <h2 class = "title_planned_bookings" >PLANNED BOOKINGS</h2>
  <HR>
  <% if @garage.reservations  %>
    <ul>
      <% @garage.reservations.each do |reservation| %>
        <li>
          <span class="fw-medium">From :</span> <%= reservation.from.strftime("%H:%M --- %d/%m/%Y") %> <br>
          <span class="fw-medium">Until :</span> <%= reservation.until.strftime("%H:%M --- %d/%m/%Y") %><br>
          <span class="fw-medium">Earnings :</span> <%= ((((reservation.until - reservation.from)).to_i / 60) * @garage.price_per_minute).round %> € <br>
          <span class="fw-medium">Username :</span> <%= reservation.user.email %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reservations planned for now.</p>
  <% end %>
</div>

  <div class="container text-center my-4 pb-4">


    <h2 class = "fw-medium try_it_out" >TRY IT OUT</h2>

      <%= image_tag(@qr_png.to_data_url, class:"qr-code") %>
        <p class="text_qr_code">Every owner receives a unique QR code from us. This enables people to instantly book your spot when they see it as they pass by!</p>
      <hr class="my-2">

      <%= image_tag "earnings.png", alt: "money", width:60%>
      <p class="mt-2">Since <%= @garage.created_at.strftime("%d/%m/%Y") %> you earned €<%= @garage.total_earnings %></p>
      <hr class="my-2">
      <%= image_tag "handshake.png", alt: "handshake", width:80%>
      <p class="mt-2">You provided a parking spot to <%= pluralize(@garage.renters, "person") %>!</p>
      <hr class="my-4">
      <%= image_tag "award.png", alt: "award", width:70%>
      <p class="mt-2"><%= @garage.avg_difference %></p>
      <hr class="my-4 pb-3">
        <%= link_to "REMOVE PARKING",
                garage_path(@garage), class:"btn-cancel mt-4",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
  </div>
</div>
