<div class="container m-4">
  <h1><%= @garage.name %></h1>
  <%= cl_image_tag @garage.photo.key, class: "width-90", crop: :fill %>
  <div class="pe-4">
    <p class="my-4"><i class="fa-solid fa-location-dot"></i>  <%= @garage.address %></p>
    <div class="row justify-content-between">
      <div class="col-4">
        <p><i class="fa-solid fa-ruler-vertical"></i>  <%= @garage.length %> cm</p>
      </div>
      <div class="col-4">
        <p><i class="fa-solid fa-ruler-horizontal"></i>  <%= @garage.width %> cm</p>
      </div>
      <div class="col-4">
        <p><i class="fa-solid fa-square-parking"></i>  <%= @garage.length * @garage.width / 10000 %> m<sup>2</sup></p>
      </div>
    </div>
    <p><i class="fa-solid fa-tag"></i>  Price: €<%= @garage.price_per_minute %> per minute</p>
  </div>
</div>
<div class="reservations-banner">
  <h2>Planned Bookings</h2>
  <ul>
    <% @garage.reservations.each do |reservation| %>
      <li>
        <%= reservation.from.strftime("%H:%M %d/%m/%Y") %> - <%= reservation.until.strftime("%H:%M %d/%m/%Y") %>
        <br>earnings: €<%= ((((reservation.until - reservation.from)).to_i / 60) * @garage.price_per_minute).round %>, from <%= reservation.user.email %>
      </li>
    <% end %>
  </ul>
</div>
<div class="container m-4">
  <div class="row">
    <div class="col-4">
      <%= image_tag "earnings.png", alt: "money"%>
      <p>Since <%= @garage.created_at.strftime("%d/%m/%Y") %> you earned €<%= @garage.total_earnings %></p>
    </div>
    <div class="col-4">
      <%= image_tag "handshake.png", alt: "handshake"%>
      <p>You provided a parking spot to <%= @garage.renters %> people!</p>
    </div>
    <div class="col-4">
      <%= image_tag "award.png", alt: "award"%>
      <p><%= @garage.avg_difference %></p>
    </div>
  </div>
</div>
