<div class="navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>


  <div class="menu-dropdown">
    <button class="menu-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="dropdown-content">
        <% if user_signed_in? %>
          <% if Reservation.where(user: current_user).any? %>
            <%= link_to "My Bookings", reservations_path, class: "dropdown-item" %>
          <% end %>
          <% if Garage.where(user: current_user).any? %>
            <%= link_to "My Garage", garage_path(Garage.find_by(user: current_user)), class: "dropdown-item" %>
          <% end %>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
