<h1 class = "title_name_reservation">Let's park!</h1>
<p class="address-reservation"><i class="fa-solid fa-location-dot"></i> <%= @order.reservation.garage.address %></p>
  <%= cl_image_tag @order.reservation.garage.photo.key, class: "picture_street", height: 300, width: 400, crop: :fill %></p>
  <div class="details-reservation">
    <h2 class = "title_planned_reservations  pt-4" >PLANNED BOOKINGS</h2>
    <HR>
      <div class="container">
        <span class="fw-medium">From : </span><%= @order.reservation.from.strftime("%H:%M %d/%m/%Y") %><br>
        <span class="fw-medium">Until : </span><%= @order.reservation.until.strftime("%H:%M %d/%m/%Y") %><br>
        <span class="fw-medium">Price : </span><%= ((((@order.reservation.until - @order.reservation.from)).to_i / 60) * @order.reservation.garage.price_per_minute).round %>€</p>

        Thank you for parking with ParkBuddy today. Have a lovely day!

          <div class="d-flex justify-content-center mt-4">
            <%= link_to "MY RESERVATIONS", reservations_path, class:"btn-go-back-map mt-4 btn-go-back-map" %>
          </div>
      </div>
  </div>
