<div class = homepage>
  <div class="container">
    <h1 class="main_title">Find your <br>
    parking spot.</h1>


    <%= form_with url: garages_path, method: :get, html: { class:"form_address" } do |f| %>
    <%=  f.text_field :address, value: params[:address], class: "input_form" %>
    <%= f.submit "LET'S GO", class: "submit_form" %>
    <% end %>


      <div class="step_1">
        <p>HOMEPAGE</p>
        <h1 class="step_title">STEP 1</h1>
        <div class= "d-flex justify-content-between align-items-center">
          <h2>Enter your location</h2>
        </div>
      </div>

      <div class="step_2">
        <p>MAP</p>
        <h1 class="step_title">STEP 2</h1>
        <h2>Enter arrival / depature time</h2>
        <div class= "d-flex justify-content-between align-items-center">
          <h2>Pick your spot</h2>
          <%= image_tag "arrow-red.png", class: "arrow_image" %>
         </div>
      </div>

      <div class="step_3">
        <p>VALIDATION</p>
        <h1 class="step_title">STEP 3</h1>
        <div class= "d-flex justify-content-between align-items-center">
          <h2>Confirm your reservation</h2>
          <%= image_tag "arrow-green.png", class: "arrow_image" %>
        </div>
      </div>

      <div class="become_an_owner">
      <h1 class="step_title">BECOME AN OWNER</h1>
        <div class= "d-flex justify-content-end">
          <%= image_tag "arrow-white.png", class: "arrow_image" %>
        </div>
      </div>

  </div>
</div>
