<% content_for :meta_title, "Your bookings" %>
<% content_for :meta_description, "An overview of your reservations." %>

<div class="container p-4">
  <h1>Your bookings.</h1>
  <% if @reservations %>
    <% @reservations.each do |reservation| %>
      <div class="card-product">
         <%= cl_image_tag reservation.garage.photo.key, class: "picture_streett", height: 400, width: 300, crop: :fill %></p>
        <div class="card-product-infos">
          <p>YOUR SPOT IS <br><span class="fw-medium">@<%= reservation.garage.address %></span></p>
          <p class="mt-2"><span class="fw-medium">Price: </span><%= ((((reservation.until - reservation.from)).to_i / 60) * reservation.garage.price_per_minute).round %> €</p>
          <p class="mb-2"><span class="fw-medium">From : </span><%= reservation.from.strftime("%H:%M %d/%m/%Y") %>,<br><span class="fw-medium">Until : </span> <%= reservation.until.strftime("%H:%M %d/%m/%Y") %></p>
          <%= link_to "CANCELATION",
            reservation_path(reservation), class:"btn-cancell",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="no-reservations-text">You haven't made any reservations yet.</h3>
    <%= link_to "Go to homepage", root_path, class:"back-to-home" %>
  <% end %>
</div>
