<% content_for :meta_title, "Make a reservation" %>
<% content_for :meta_description, "Make a reservation for the spot @#{@garage.address}." %>

<h1 class = "title_name_new_book">Almost ready!</h1>
  <p class="address-new-book"><i class="fa-solid fa-location-dot"></i>  <%= @garage.address %></p>
    <%= cl_image_tag @garage.photo.key, class: "picture_street_new", height: 300, width: 400, crop: :fill %>
    <div class="details-reservation">
      <h2 class = "title_planned_new_book  pt-4" >LET'S CONFIRM YOUR BOOKING</h2>
      <HR>
        <div class="container">
          <p><span class="fw-medium">Width : </span><%= @garage.length_in_meters %>m</p>
          <p><span class="fw-medium">Length : </span><%= @garage.width_in_meters %>m</p>
          <p><span class="fw-medium">Surface Area : </span><%= @garage.length_in_meters * @garage.width_in_meters %> m<sup>2</sup></p>
          <span class="fw-medium">Price/hour : €</span><%= (@garage.price_per_minute * 60).round(2) %>

      <div class=" mt-4">
        <%= render "shared/reservation_form" %>
      </div>
      </div>
    </div>
