<% content_for :meta_title, "Checkout" %>
<% content_for :meta_description, "Make your payment on the checkout page." %>

<div class="container">
  <div class="row py-4 text-center center-margin">
    <div class="col">
      <h1 class="title_checkout">Checkout</h1>
      <p class="informations_purchase">PURCHASE OF PARKING<br>
      <hr>
       <span class="fw-medium"><%= @order.reservation.garage.address %></span><br> from <span class="fw-medium"><%= @order.reservation.from.strftime("%H:%M %d/%m/%Y") %></span>, until <span class="fw-medium"><%= @order.reservation.until.strftime("%H:%M %d/%m/%Y") %></span></p>
      <button id="pay" class="btn button-payment">PAY <%= humanized_money_with_symbol @order.amount %></button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
